@font-face {
	font-family: "Josefin Sans";
	font-weight: 700;
	src:
		url("fonts/JosefinSans-Bold.woff2") format("woff2"),
		url("fonts/JosefinSans-Bold.woff") format("woff");
}

/* Variables */
:root {
	/* Colors */
	--color-background: #151515;
	--color-primary: #0070d5;
	--color-primary-dark: #005cb2;
	--color-primary-transparent: #0072d580;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-dark: #111111;
	--color-dark-2: #313131;
	--color-light: #dddddd;

	/* Fonts */
	--system-font: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
		helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	--mono-font: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
	--heading-font: "Josefin Sans", sans-serif;

	--padding-inline: 1rem;

	/* Font sizes */
	--font-body-s: 0.75rem;
	--font-body-m: 1rem;
	--font-body-l: 1.25rem;

	--font-heading-s: 1.5rem;
	--font-heading-m: 2rem;
	--font-heading-l: 2.5rem;
}

@media screen and (max-width: 375px) {
	:root {
		--font-heading-l: 2rem;
	}
}

@media screen and (min-width: 768px) {
	:root {
		/* Font sizes */
		--font-body-s: 1rem;
		--font-body-m: 1.25rem;
		--font-body-l: 1.5rem;

		--font-heading-s: 2rem;
		--font-heading-m: 2.5rem;
		--font-heading-l: 3rem;
	}
}

@media screen and (min-width: 768px) {
	:root {
		/* Padding */
		--padding-inline: 2rem;
	}
}

@media screen and (min-width: 1024px) {
	:root {
		/* Padding */
		--padding-inline: 4rem;
	}
}

@media screen and (min-width: 1440px) {
	:root {
		/* Padding */
		--padding-inline: 6rem;

		/* Font sizes */
		--font-body-s: 1.25rem;
		--font-body-m: 1.5rem;
		--font-body-l: 1.75rem;

		--font-heading-s: 2.5rem;
		--font-heading-m: 3rem;
		--font-heading-l: 3.5rem;
	}
}

@media screen and (min-width: 1536px) {
	:root {
		/* Padding */
		--padding-inline: 8rem;
	}
}

/* iPhone SVH Fix ----------------------------------------------------------------*/

/* :root {
	--vh: 100svh;
} */

/* Globals */

html {
	overflow-x: hidden;
	background-color: var(--color-background);
}

.smoothscroll {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
	scrollbar-color: var(--color-light) var(--color-dark2);
}

*::-webkit-scrollbar {
	width: 9px;
}

*::-webkit-scrollbar-track {
	background-color: var(--color-dark2);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-light);
}

/* All elements except h sytem var font */
*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	font-family: var(--system-font);
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
	line-height: 1.2;
}

a {
	text-decoration: none;
	color: inherit;
}

a:visited {
	color: inherit;
}

button {
	cursor: pointer;
}

section,
footer {
	padding: 4rem 1rem;
}

@media screen and (min-width: 768px) {
	section,
	footer {
		padding: 4rem var(--padding-inline);
	}
}

@media screen and (min-width: 1024px) {
	section,
	footer {
		padding: 6rem var(--padding-inline);
	}
}

@media screen and (min-width: 1440px) {
	section,
	footer {
		padding: 8rem var(--padding-inline);
	}
}

/* Utilities */

.button {
	border: none;
	width: fit-content;
	border-radius: 2rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.25rem 1rem;
	font-weight: 700;
	font-size: var(--font-size-m);
	transition: background-color 0.2s;
}

.button-primary {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.button-primary:focus-visible {
	outline: 1px solid var(--color-white);
}

.button-secondary {
	border: 2px solid;
	background-color: transparent;
}

.button-secondary:focus-visible {
	border-color: var(--color-primary);
	outline: none;
}

.accent-title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: var(--font-body-s);
	opacity: 0;
	transform: translateX(-2rem);
	transition: 0.5s ease-in-out;
}

.accent-title.show {
	opacity: 1;
	transform: translateX(0);
}

.accent-title img {
	translate: 0 -0.25rem;
}

.text-input {
	color: white;
	border: 2px solid #fff;
	background-color: transparent;
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.text-input:focus-visible {
	border-color: var(--color-primary);
	outline: none;
}

span.highlight {
	position: relative;
	white-space: nowrap;
}

span.highlight::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 100%;
	z-index: -1;
	background-color: var(--color-primary-transparent);
	animation: highlight 0.4s ease-in-out forwards 1s;
}

@keyframes highlight {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* Hover effects */
@media (hover: hover) {
	.button-primary:hover {
		background-color: var(--color-primary-dark);
	}

	.button-secondary:hover {
		outline: 1px solid white;
	}

	.text-input:hover {
		outline: 1px solid var(--color-white);
	}
}

.heading-font {
	font-family: "Josefin Sans";
	font-weight: 700;
}

.font-black {
	color: var(--color-black);
}

.font-white {
	color: var(--color-white);
}

.surface {
	background-color: #313131c9;
	border-radius: 1rem;
	box-shadow: 0 2px 0.2rem rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(2px);
	color: white;
	padding: 1.5rem;
}

/* Google maps link removal */

a[href^="http://maps.google.com/maps"]
{
	display: none !important;
}
a[href^="https://maps.google.com/maps"]
{
	display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
	display: none;
}
.gmnoprint div {
	background: none !important;
}

.gm-style iframe + div {
	border: none !important;
}
